<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skin.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.skin.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.skin.demo.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.skin.demo.tab.MainActivity" />

        <activity android:name="com.skin.demo.window.WindowManagerActivity" />

        <activity
            android:name="com.skin.demo.settings.SettingsActivity"
            android:label="SettingsActivity" />

        <activity
            android:name="com.skin.demo.mdtab.CollapsingToolbarLayoutActivity"
            android:label="CollapsingToolbarLayoutActivity" />

        <activity
            android:name="com.skin.demo.alert.AlertDialogActivity"
            android:label="AlertDialogActivity"
            android:theme="@style/AlertDialogTheme" />

        <activity
            android:name="com.skin.demo.mdtab.MaterialDesignActivity"
            android:label="Material Design"
            android:theme="@style/MaterialDesignTheme" />

        <service android:name="com.skin.demo.window.WindowService" />
    </application>

</manifest>
